# Java #
**/.idea/
**/.gradle
**/node_modules/
.DS_Store
target/
.classpath
.project
.settings
**/.checkstyle
target/
bin/
**/lib/
out/
server/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Python
__pycache__/