<web-app>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestJSP</servlet-name>
        <jsp-file>/jsp/test.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestJSP</servlet-name>
        <url-pattern>/test-jsp</url-pattern>
    </servlet-mapping>
</web-app>